AI_BENCH_BASE_URL=
AI_BENCH_API_KEY=
AI_BENCH_MODEL_NAME=

POETRY_AI_BENCH_BASE_URL="${AI_BENCH_BASE_URL}"
POETRY_AI_BENCH_API_KEY="${AI_BENCH_API_KEY}"
POETRY_AI_BENCH_MODEL_NAME="${AI_BENCH_MODEL_NAME}"
